body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

.site-container {
    width: 90%;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
}

.site-header {
    background-color: #FAFAFA;
    color: #000000;
    width: 100%;
}

.site-header .logo img {
    height: 40px;
}

.main-navigation ul {
    display: flex;
    color: #000;
}

.main-navigation ul li {
    list-style-type: none;
    padding: 0 25px;
}

.main-navigation ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.main-navigation ul li a:hover {
    color: #4D64FF;
    transition: all 0.3s ease;
}

main .content-body {
    background-color: #FAFAFA;
    padding: 20rem 0;
    justify-content: center;
}

main .content-body #landing-message {
    width: 80%;
    background-color: #FFF4B2;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
}

main .content-body #access-resources {
    background-color: #A8D5BA;
    width: 120px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    border: none;
}

.footer {
    background-color: #FAFAFA;
    color: #000000;
    box-sizing: border-box;
    width: 100%;
    padding: 0 3rem;
}

.footer-container {
    padding: 10px 15px;
    border-top: 3px solid #000;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer-row {
    padding: 10px 0;
    padding-bottom: 20px;
    width: 20%;
    justify-content: left;
}

.footer-row .social-links a {
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: #fff;
    margin: 5px 10px 10px 5px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    color: #000000;
    border: 1px solid #000;
    transition: all 0.3s ease;
}

.footer-row .social-links a:hover{
    background-color: #1e5afc;
    color: #ffffff;
    border: 1px solid #1e5afc;
    transition: all 0.3s ease;
}

#footer-logo-section {
    width: 10%;
    padding: 0;
}

#footer-logo {
    height: 12rem;
}

#footer-text {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding: 1rem 1rem;
    padding-right: 10rem;
}